In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('pitcher_stats.csv')

In [21]:
search_term = 'Verlander'

In [22]:
df[df['Name'].str.contains(search_term)]

,Name,Team,W,L,SV,G,GS,IP,K/9,BB/9,...,HR/FB,vFA (pi),ERA,xERA,FIP,xFIP,WAR,F-Strike%,SIERA,playerid
0,Justin Verlander,HOU,18,4,0,28,28,175.0,9.51,1.49,...,6.20%,95.1,1.75,2.66,2.49,3.23,6.1,62.00%,3.09,8700